/ObedienceMobile/ObedienceMobile/bin
/ObedienceMobile/ObedienceMobile/obj
/ObedienceMobile/ObedienceMobile.Android/bin
/ObedienceMobile/ObedienceMobile.Android/obj
/ObedienceMobile/ObedienceMobile.iOS/bin
/ObedienceMobile/ObedienceMobile.iOS/obj
/.vs
